mcp/
.env
__pycache__/
*.pyc
*.log
.claude/
.MCPServer.py.swp
clab-mcp-lab/**
!clab-mcp-lab/**/
!clab-mcp-lab/topology-data.json
!clab-mcp-lab/ansible-inventory.yml
!clab-mcp-lab/nornir-simple-inventory.yml
!clab-mcp-lab/R1A/flash/startup-config
!clab-mcp-lab/R2A/flash/startup-config
!clab-mcp-lab/R6A/flash/startup-config
!clab-mcp-lab/R7A/flash/startup-config
!clab-mcp-lab/R3C/nvram*
!clab-mcp-lab/R4C/nvram*
!clab-mcp-lab/R5C/nvram*
!clab-mcp-lab/R8C/nvram*
!clab-mcp-lab/R9C/nvram*
!clab-mcp-lab/R10C/nvram*
!clab-mcp-lab/R11C/nvram*